@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@font-face {
    font-family: 'hylia';
    src: url(./HyliaSerifBeta-Regular.otf);
}

body {
  font-family: 'Open Sans';
  background: #ece6d9;
}

h1{
    font-family: 'hylia';
    letter-spacing: 4px;
}